In [1]:
#imports //done by all
import pandas as pd

In [3]:
#import and read csv //done by all
df = pd.read_csv(r"C:\Users\slysk\Desktop\dtaAss1\heart.csv")

In [6]:
#Our Dataset // done by all
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

# DATA CLEANING SECTION
### Done By:
##### 221141030 - KALLINA JOSEPH
##### 222091789 - ESTHER KADHIKWA
##### 223084433 - TUPOPILA KADHILA 
##### 222119810 - SLYSKEN KAKUVA

In [4]:
#Check Null Values //done by 222119810 - Slyken Kakuva
df.isnull().any()

age         False
sex         False
cp          False
trtbps      False
chol        False
fbs         False
restecg     False
thalachh    False
exng        False
oldpeak     False
slp         False
caa         False
thall       False
output      False
dtype: bool

In [5]:
#Check for Duplicates //done by 222119810 - Slyken Kakuva
df.duplicated().any()

True

In [7]:
#Print of the Duplicate values //done by 222119810 - Slysken Kakuva
duplicate_rows = df[df.duplicated()]
print(duplicate_rows)
#Duplicate values found in row 164 //done by 222119810 - Slysken Kakuva

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
164   38    1   2     138   175    0        1       173     0      0.0    2

     caa  thall  output
164    4      2       1

In [8]:
#Removal of the duplocate values and then print the result //done by 222119810 - Slysken Kakuva
df.drop_duplicates(inplace=True)
#Duplicate values found in row 164 have successfully been removed //done by 222119810 - Slysken Kakuva
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0